@page "/search-games"
@using ZetaDashboard.Data.GMS

<!-- #region Title -->
<div style="display:flex;align-items:center;justify-content:space-between">
    <div></div>
    <div style="margin-top:40px;">
        <h2>📟 Descubre Juegos</h2>
    </div>
    <div style="padding-right:30px;">
    </div>
</div>
<!-- #endregion -->

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    
    <MudTextField T="string"
                  ValueChanged="OnQueryChanged"
                  Variant="Variant.Filled"
                  Adornment="Adornment.Start"
                  AdornmentIcon="@Icons.Material.Outlined.Search"
                  AdornmentColor="Color.Primary"
                  Clearable="true"
                  Value="_search"
                  Immediate="true"
                  DebounceInterval="450"
                  Margin="Margin.Dense"
                  FullWidth="false" />

    <MudGrid Justify="Justify.Center" Style="gap:15px;">
        <MudItem xs="@((int)12)" md="@((int)3)">
            <div>
                
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>


<MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="position:relative;">

    <MudGrid Justify="Justify.Center" Style="margin-top:30px;width: 100% !important;position: relative;margin-left: 0px;">
        @foreach (var item in GameList)
        {
            <MudItem xs="@((int)12)" md="@((int)3)" Style="display:flex;justify-content:center;padding:20px">
                <GameCard item="@item" LikedGames="@LikedGameList" ApiService="@ApiService"
                          DController="@DController" LoggedUser="@LoggedUser" Update="GetListActions"
                 CService="@CService" PlayedGames="@PlayedGameList" WatchedGames="@WatchedGameList"></GameCard>
            </MudItem>
        }
    </MudGrid>

</MudContainer>

