@using static ZetaDashboard.Services.CommonServices

@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@* theme *@
<MudThemeProvider Theme="@MyTheme" IsDarkMode="@IsDarkMode" />

@if (IsAuthentificated)
{
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <div class="ps-3 navbar "  
                     style="@($"background:linear-gradient(227deg,{CommonService.GetCssVar(Color.Primary, ColorType.Lighten)} 40%, {CommonService.GetCssVar(Color.Primary, ColorType.Darken)}); height:56px !important;padding:0px;")">
                
                 <div class="container-fluid">
                    <NoFreezeScreen />
                        <MudSpacer />
                        <MudBreadcrumbs Items="@CService?.BreadcrumbItems"></MudBreadcrumbs>
                        <MudSpacer />
                    <div></div>
                    <MudSpacer/>
                    <div style="display:flex;align-items:center;margin-right:20px">
                            <div style="margin-right:30px;display:flex;align-items:center">
                                <MudTooltip Text="@LoggedUser.UserType.ToString()">
                                <MudIcon Icon="@CService.EUserTypeIcon(LoggedUser.UserType)">

                                </MudIcon>
                            </MudTooltip>
                                <MudText Style="font-size:19px;margin-left:5px">@LoggedUser.Name</MudText>
                        </div>
                        <MudTooltip Text="Cerrar Sesión">
                            <MudIconButton Icon="@Icons.Material.Filled.Logout"
                                            Variant="Variant.Filled"
                                            OnClick="LogOutClicked"
                                            Color="Color.Error"></MudIconButton>
                        </MudTooltip>
                    </div>
                
                
                </div>
            </div>
        </MudHidden>

            <article class="content px-4" style="overflow-y:auto;height: calc(100vh - 56px);padding-bottom:100px;">
            @Body
                
            </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
}

