@using Microsoft.AspNetCore.Components.Authorization
@using ZetaCommon.Auth
@using ZetaDashboard.Services
@using static ZetaDashboard.Services.CommonServices

@inject CommonServices CommonService
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigator
@inject IJSRuntime JS

<div class="top-row ps-3 navbar navbar-dark"
     style="@($"background-color: {CommonService.GetCssVar(Color.Primary, ColorType.Darken)};height:56px !important;")">
    
    <div class="container-fluid logohover" @onclick="GoToHome" style="display:flex;justify-content:center;align-items:center;width:100%;height:100%;">
        <img src="Img/Logocsa.png" style="height:100%;" />
        <MudText Style="margin-left:10px;font-size:22px;">&lt;Zetasab/&gt;</MudText>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" id="navbar-toggler" />

<div class="nav-scrollable navbar-gradientBg" style="overflow-y:auto !important;">
    <MudNavMenu Class="pa-4" >
        <MudNavLink Href="/" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c1" >
            <div style="display:flex;align-items:center;" onclick="changetoggler()">
                <text style="font-size:24px">🏡</text>
                <MudText Style="margin-left:5px;font-size:18px">Inicio</MudText>
            </div>
        </MudNavLink>
        @if (CService.CheckIfPermissions(LoggedUser,ThisPageAdmin))
        {
            <MudNavGroup Title="💻 ZDB" Class="mb-2 mud-nav-link-groupNoBefore" Expanded="false">
                <MudNavLink Href="/user" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">👨‍👩‍👦‍👦</text>
                        <MudText Style="margin-left:5px;font-size:18px">Usuarios</MudText>
                    </div>
                </MudNavLink>
                <MudNavLink Href="/collections" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c3">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">📉</text>
                        <MudText Style="margin-left:5px;font-size:18px">Colecciones</MudText>
                    </div>
                </MudNavLink>
                <MudNavLink Href="/proyects" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c4">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">🛠️</text>
                        <MudText Style="margin-left:5px;font-size:18px">Proyectos</MudText>
                    </div>
                </MudNavLink>
                @if (CService.CheckIfPermissions(LoggedUser, ThisPageAdmin))
                {
                    <MudNavLink Href="/audits" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c4">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">📰</text>
                        <MudText Style="margin-left:5px;font-size:18px">Auditoria</MudText>
                    </div>
                </MudNavLink>
                }
            </MudNavGroup>
        }
        @if (CService.CheckIfPermissions(LoggedUser, ThisNotesPage))
        {
            <MudNavGroup Title="📝 ZNT" Class="mb-2 mud-nav-link-groupNoBefore" Expanded="false">
                <MudNavLink Href="/notes" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">📒</text>
                        <MudText Style="margin-left:5px;font-size:18px">Notas</MudText>
                    </div>
                </MudNavLink>
                @if (CService.CheckIfPermissions(LoggedUser, ThisNotesPageAdmin))
                {
                    <MudNavLink Href="/notes-grid" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">🗒</text>
                            <MudText Style="margin-left:5px;font-size:18px">Notas-Grid</MudText>
                        </div>
                    </MudNavLink>
                }
            </MudNavGroup>
        }

        @if (CService.CheckIfPermissions(LoggedUser, ThisPlansPage))
        {
            <MudNavGroup Title="🍻 PLN" Class="mb-2 mud-nav-link-groupNoBefore" Expanded="false">
                <MudNavLink Href="/plans" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">🧗🏻‍</text>
                        <MudText Style="margin-left:5px;font-size:18px">Planes</MudText>
                    </div>
                </MudNavLink>
                @if (CService.CheckIfPermissions(LoggedUser, ThisPlansPageAdmin))
                {
                    <MudNavLink Href="/plans-grid" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">🍽️</text>
                            <MudText Style="margin-left:5px;font-size:18px">Planes-Grid</MudText>
                        </div>
                    </MudNavLink>
                }
            </MudNavGroup>
        }

        @if (CService.CheckIfPermissions(LoggedUser, ThisMoviePage))
        {
            <MudNavGroup Title="📹 MOV" Class="mb-2 mud-nav-link-groupNoBefore" Expanded="true">
                <MudNavLink Href="/movie-home" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">🍿</text>
                        <MudText Style="margin-left:5px;font-size:18px">Inicio</MudText>
                    </div>
                </MudNavLink>
                
                <MudNavLink Href="/search-movie" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">📍</text>
                        <MudText Style="margin-left:5px;font-size:18px">Descubre Peliculas</MudText>
                    </div>
                </MudNavLink>
                    
                
                @if (CService.CheckIfPermissions(LoggedUser, ThisMoviePageEditor))
                {
                    
                    <MudNavLink Href="/seen-movies" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">👀</text>
                            <MudText Style="margin-left:5px;font-size:18px"> Vistas</MudText>
                        </div>
                    </MudNavLink>
                    <MudNavLink Href="/liked-movies" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">💞</text>
                            <MudText Style="margin-left:5px;font-size:18px">Favoritas</MudText>
                        </div>
                    </MudNavLink>
                    <MudNavLink Href="/watch-movies" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">🕝</text>
                            <MudText Style="margin-left:5px;font-size:18px">Previstas</MudText>
                        </div>
                    </MudNavLink>
                    
                }
                
            </MudNavGroup>
        }
        @if (CService.CheckIfPermissions(LoggedUser, ThisGamePage))
        {
            <MudNavGroup Title="👾 GMS" Class="mb-2 mud-nav-link-groupNoBefore" Expanded="true">
                <MudNavLink Href="/games-home" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">🎮</text>
                        <MudText Style="margin-left:5px;font-size:18px">Inicio</MudText>
                    </div>
                </MudNavLink>

                <MudNavLink Href="/search-games" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                    <div style="display:flex;align-items:center;" onclick="changetoggler()">
                        <text style="font-size:24px">🕹</text>
                        <MudText Style="margin-left:5px;font-size:18px">Descubre Juegos</MudText>
                    </div>
                </MudNavLink>


                @if (CService.CheckIfPermissions(LoggedUser, ThisMoviePageEditor))
                {

                    <MudNavLink Href="/played-games" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">✅</text>
                            <MudText Style="margin-left:5px;font-size:18px"> Jugados</MudText>
                        </div>
                    </MudNavLink>
                    <MudNavLink Href="/liked-games" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">🖤</text>
                            <MudText Style="margin-left:5px;font-size:18px">Favoritos</MudText>
                        </div>
                    </MudNavLink>
                    <MudNavLink Href="/watch-games" Match="NavLinkMatch.All" Style="margin-top:5px;" Class="mud-nav-link-c2">
                        <div style="display:flex;align-items:center;" onclick="changetoggler()">
                            <text style="font-size:24px">🕝</text>
                            <MudText Style="margin-left:5px;font-size:18px">Previstos</MudText>
                        </div>
                    </MudNavLink>

                }

            </MudNavGroup>
        }

        @* <MudNavGroup Title="Management" Icon="@Icons.Material.Filled.Settings" Class="mb-2">
            <MudNavLink Href="/users" Icon="@Icons.Material.Filled.Group">
                Users
            </MudNavLink>
            <MudNavLink Href="/settings" Icon="@Icons.Material.Filled.Tune">
                Settings
            </MudNavLink>
        </MudNavGroup> *@

        

        <MudHidden Invert="true" Breakpoint="Breakpoint.Xs">
        <MudDivider Class="my-2" />
            <div class="nav-item px-3">
                <MudButton StartIcon="@CService.EUserTypeIcon(LoggedUser.UserType)"
                           Variant="Variant.Outlined"
                           @onclick="@(async () => await JS.InvokeVoidAsync("changetoggler"))"
                           FullWidth="true"
                           Href="/profile">

                    <MudText Style="font-size:19px;margin-left:5px">@LoggedUser.Name</MudText>
                </MudButton>
            </div>
            <div class="nav-item px-3">
                <MudButton OnClick="LogOutClicked"
                           Color="Color.Error"
                           FullWidth="true"
                           Style="margin-top:10px"
                           Variant="Variant.Filled"
                           EndIcon="@Icons.Material.Filled.Logout">Cerrar sesión</MudButton>
            </div>
        </MudHidden>
       
    </MudNavMenu>
</div>


@* no quitar css por especifidad *@
<style>
    .logohover {
        transition: 0.3s;
    }

        .logohover:hover {
            transform: scale(1.15);
            filter: opacity(0.7);
            cursor: pointer;
        }

   
    .mud-nav-link {
        position: relative;
        overflow: hidden;
        z-index: 0;
        border-radius: 8px;
        background: transparent;
        transition: color 0.2s;
    }

    .mud-nav-link-groupNoBefore > .mud-nav-link::before {
        width: 0% !important;
    }

    .mud-nav-link-groupNoBefore:hover::before,
    .mud-nav-link-groupNoBefore:focus::before {
        width: 0% !important;
    }

    .mud-nav-link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(90deg, var(--mud-palette-primary-lighten), var(--mud-palette-primary-lighten));
        transition: width 0.35s cubic-bezier(0.4,0,0.2,1);
        opacity: 0.8;
    }


    .mud-nav-link:hover, .mud-nav-link:focus {
        color: #fff !important;
    }

        .mud-nav-link-c1 >
        .mud-nav-link:hover::before,
        .mud-nav-link:focus::before {
            width: 100%;
            background: linear-gradient(90deg, var(--mud-palette-primary-lighten), #fc5c7d);
        }

        .mud-nav-link-c2 >
        .mud-nav-link:hover::before,
        .mud-nav-link:focus::before {
            width: 100%;
            background: linear-gradient(90deg, var(--mud-palette-primary-lighten), #11998e );
        }

        .mud-nav-link-c3 >
        .mud-nav-link:hover::before,
        .mud-nav-link:focus::before {
            width: 100%;
            background: linear-gradient(90deg, var(--mud-palette-primary-lighten), #ff9966 );
        }

        .mud-nav-link-c4 >
        .mud-nav-link:hover::before,
        .mud-nav-link:focus::before {
            width: 100%;
            background: linear-gradient(90deg, var(--mud-palette-primary-lighten), #00c3ff );
        }
</style>
