@page "/user"
@using ZetaDashboard.Common.ZDB.Models

<!-- #region Title -->
<div style="display:flex;align-items:center;justify-content:space-between">
    <div></div>
    <div>
        <MudIcon
            Icon="@Icons.Material.Filled.Person"
            Size="Size.Large" />
        <h2>Usuarios</h2>
    </div>
    <div></div>
</div>
<!-- #endregion -->

<!-- #region Insert modal -->
<MudDialog @bind-Visible="InsertModal" Style="min-width:700px;min-height:400px">
    <TitleContent>
        Insertar Usuario
    </TitleContent>
    <DialogContent>
        <EditForm Model="InsertUser" OnValidSubmit="OnInsertData">
            <MudTextField @bind-Value="InsertUser.Name" InputType="InputType.Text" Label="Email" Style="margin-top:25px;"></MudTextField>
            <MudTextField @bind-Value="InsertUser.PasswordHash" InputType="InputType.Password"  Label="Password" Style="margin-top:25px;"></MudTextField>
            <MudSelect @bind-Value="InsertUser.UserType" Label="Tipo de usuario" >
                @foreach (var type in Enum.GetValues<UserModel.EUserType>())
                {
                    <MudSelectItem Value="@type">@type</MudSelectItem>
                }
            </MudSelect>

            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Style="margin-top:25px;" Variant="Variant.Filled">Aceptar</MudButton>
            <MudButton Color="Color.Error" Style="margin-top:25px;" Variant="Variant.Filled" OnClick="@(() => InsertModal = false)">Cerrar</MudButton>
        </EditForm>
    </DialogContent>
</MudDialog>
<!-- #endregion -->

<!-- #region Datagrid -->
<MudPaper Style="margin-top:20px;" Elevation="0">
    <MudDataGrid Items="@UserList">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Nombre" />
            <TemplateColumn CellClass="d-flex justify-end" Title="Acciones">
                <CellTemplate>
                    <MudStack Row style="width:100%">
                        <div style="width:100%;display:flex;justify-content:start">
                            
                            <MudTooltip Text="@($"Editar usuario {context.Item.Name}")">
                                <MudIconButton  Variant="@Variant.Filled"
                                                Color="@Color.Primary"
                                                Icon="@Icons.Material.Filled.Edit"></MudIconButton>
                                </MudTooltip>
                            
                            <MudTooltip Text="@($"Borrar usuario {context.Item.Name}")">
                                <MudIconButton Variant="@Variant.Filled"
                                               Style="margin-left:7px;"
                                               Color="@Color.Error"
                                               
                                               Icon="@Icons.Material.Filled.Delete">
                                </MudIconButton>
                            </MudTooltip>
                        </div>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</MudPaper>
<!-- #endregion -->