@page "/search-movie"
@page "/search-movie/{urlparams}"

@using ZetaDashboard.Data.MOV


<!-- #region Title -->
<div style="display:flex;align-items:center;justify-content:space-between">
    <div></div>
    <div style="margin-top:40px;">
        <h2>@GetTitle(mode)</h2>
    </div>
    <div style="padding-right:30px;">
    </div>
</div>
<!-- #endregion -->
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid>
        <MudItem xs="@((int)12)" md="@((int)2)">

            @if (SelectedCategory == "search")
            {
                <MudButton EndIcon="@Icons.Material.Filled.Cancel"
                           Variant="Variant.Filled" FullWidth="true"
                           Color="Color.Error" Style="margin-bottom:15px;margin-top:5px;"
                           OnClick="CancelSearchByTitleMovies">Cancelar</MudButton>
            }
            else
            {
                <MudButton EndIcon="@Icons.Material.Filled.Search"
                            Variant="Variant.Filled" FullWidth="true"
                            Color="Color.Primary" Style="margin-bottom:15px;margin-top:5px;"
                            OnClick="SearchByTitleMovies">Buscar por titulo</MudButton>
            }

            
            <MudExpansionPanels MultiExpansion="true" >
                @if (SelectedCategory != "search")
                {
                    <MudExpansionPanel Text="Categorias" Expanded="@IsPc">
                        <MudChipSet T="string" SelectedValueChanged="SelectedCategoryChanged" SelectedValue="@SelectedCategory" CheckMark SelectionMode="SelectionMode.ToggleSelection">
                            <MudChip Color="Color.Primary" Value="@("nowplaying")">⌛ Ahora mismo</MudChip>
                            <MudChip Color="Color.Primary" Value="@("popular")">🔥 Popular</MudChip>
                            <MudChip Color="Color.Primary" Value="@("toprated")">📈 Mas valoradas</MudChip>
                            <MudChip Color="Color.Primary" Value="@("upcoming")">🆕 Nuevas</MudChip>
                        </MudChipSet>
                    </MudExpansionPanel>
                }
                @if (string.IsNullOrEmpty(SelectedCategory))
                {
                    <MudExpansionPanel Text="Ordenar" Expanded="@IsPc">
                        <MudSelect ValueChanged="SelectedOrderChanged" Value="SelectedOrder" Clearable="false" T="Order">
                            @foreach (var item in MovieData.SortsBy)
                            {
                                <MudSelectItem Value="@item">@item.esp_order</MudSelectItem>
                            }
                        </MudSelect>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Donde ver" Expanded="@IsPc">
                        <MudGrid Style="padding:4px;">
                            @foreach (var item in MovieData.WhatProviders)
                            {
                                <MudItem>
                                    <div @onclick="@(() => SelectProviders(item))"
                                            class="@(SelectedProviders.Contains(item) ? "whatprovider selectedprovider" : "whatprovider")">
                                        <div class="selectedproviderbg">
                                            <MudIcon Icon="@Icons.Material.Filled.Check"></MudIcon>
                                        </div>
                                        <img src="@($"https://image.tmdb.org/t/p/w300{item.Logo_path}")" loading="lazy" />
                                    </div>
                                </MudItem>
                            }
                        </MudGrid>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Filtros" Expanded="@IsPc">
                        Generos:
                        <MudChipSet T="Data.MOV.Genre" SelectedValuesChanged="SelectGenresChanged" SelectedValues="@SelectedGenres" SelectionMode="SelectionMode.MultiSelection"
                                    CheckMark="true" Variant="Variant.Text" Color="Color.Primary">
                            @foreach(var genre in MovieData.Genres)
                            {
                                <MudChip Value="@genre" >@genre.Esp_Name</MudChip>
                            }
                        </MudChipSet>
                    </MudExpansionPanel>
                }
            
            </MudExpansionPanels>
            
        </MudItem>
        <MudItem xs="@((int)12)" md="@((int)10)">
            
            @if (SelectedCategory == "search")
            {
                <MudTextField T="string"
                              ValueChanged="OnQueryChanged"
                              Variant="Variant.Filled"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Outlined.Search"
                              AdornmentColor="Color.Primary"
                              Clearable="true"
                              Value="_searchByName"
                              Immediate="true"
                              DebounceInterval="450"
                              Margin="Margin.Dense"
                              FullWidth="true" />

            }
            @if (DataList.Count > 0) 
            {
                <div class="movie-grid-5" style="margin-top:15px;">
                    @foreach (var movie in DataList)
                    {
                        <MovieCard movie="@movie" 
                                ApiService="@ApiService" DController="@DController"
                                   LoggedUser="@LoggedUser" SeenMovies="@SeenMovieList"
                                   Navigator="@Navigator"
                        LikedMovies="@LikedMovieList" WatchMovies="@WatchMovieList" CService="@CService"></MovieCard>
                    }
                    <div class="movie-grid-5" style="display:flex;justify-content:center;margin-top:10px;">

                        <MudButton Variant="Variant.Filled" OnClick="LoadMore" Color="Color.Primary" Style="padding:15px 30px">Cargar mas</MudButton>
                    </div>
        
                </div>
            }
            else
            {
                <MudText>No hay resultados</MudText>
            }

            
        </MudItem>
    </MudGrid>
</MudContainer>

<style>
    .movie-grid-5{
        grid-column: 1 / -1; /* ocupa de la primera a la última columna */
        justify-items: center; /* centra horizontalmente los items */
    }
    /* exactly 5 items per row on desktop */
    .movie-grid-5 {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 16px; /* adjust spacing (gutter) */
    }

    .movie-grid-item { /* optional hook */
        width: 250px;
    }

    /* Optional responsiveness */
    @@media (max-width: 1200px) {
        .movie-grid-5

    {
        grid-template-columns: repeat(4, 1fr);
    }

    }
    @@media (max-width: 900px) {
        .movie-grid-5

    {
        grid-template-columns: repeat(3, 1fr);
    }

    }
    @@media (max-width: 600px) {
        .movie-grid-5

    {
        grid-template-columns: repeat(2, 1fr);
    }

    }

    @@media (max-width: 420px) {
        .movie-grid-5

    {
        grid-template-columns: 1fr;
    }

    }
    .movie-card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease-in-out;
    }

        .movie-card:hover {
            transform: scale(1.03);
        }

    .movie-backdrop {
        flex: 1;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .movie-overlay {
        position: absolute;
        bottom: 0px; /* dejamos hueco para botones */
        width: 100%;
        padding: 12px;
        background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .movie-title {
        color: white;
        font-weight: bold;
        text-shadow: 0 2px 4px rgba(0,0,0,0.8);
    }

    /* barra de acciones al fondo */
    .movie-actions {
        display: flex;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.6);
        padding: 6px;
    }

    .movie-score {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }

    .movie-score-text {
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        color: white;
    }

    .whatprovider{
        width:55px;
        height:55px;
        position:relative;
        overflow:hidden;
        border: 2px solid var(--mud-palette-primary);
        border-radius:8px;
        transition: 0.3s ease-in-out;
    }

        .whatprovider:hover{
            cursor:pointer;
        }
    .whatprovider img{
        width:100%;
        height:100%;
        object-fit:cover;
        transition:0.3s ease-in-out;
    }
    
    .mud-expand-panel.mud-panel-expanded{
        margin:1px 0px !important;
    }

    

        .selectedprovider > .selectedproviderbg{
            visibility: visible !important;
        }
    .selectedproviderbg{
        visibility:hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mud-palette-primary);
        opacity: 0.5;
    }
    </style>