@page "/profile"

<PageTitle>Perfil - ZetaDashboard</PageTitle>

<!-- #region Title -->
<div style="display:flex;align-items:center;justify-content:space-between">
    <div></div>
    <div>
        <h2>👤 Perfil</h2>
    </div>
    <div style="padding-right:30px;">
       
    </div>
</div>
<!-- #endregion -->

<MudPaper Style="display:flex;justify-content:space-around;padding:40px;">
    <MudGrid>
        <MudItem Xs="@((int)12)" Md="@((int)5)" Style="display:flex;justify-content:center;">
            <MudPaper Class="pa-4" Elevation="0">
                 
                <text style="font-size:13px;">Usuario:</text> <text style="font-size:18px;">  @LoggedUser.Name</text>
                <br />
                <br />
                <br />

                <text style="font-size:13px;">Permisos:</text>
                <br />
                <br />
                @foreach (var prm in LoggedUser.Permissions)
                {
                    if(prm.UserType > Common.ZDB.Models.UserModel.EUserPermissionType.None)
                    {
                        <p>@prm.Code : @prm.UserType</p>
                        
                       
                    }
                }
            </MudPaper>
        </MudItem>

        <MudItem Xs="@((int)12)" Md="@((int)2)">
            <div style="height:100%; display:flex; align-items:center; justify-content:center;">
                <MudDivider Vertical="true" Class="my-2" />
            </div>
        </MudItem>

        <MudItem Xs="@((int)12)" Md="@((int)5)">
            <MudPaper Class="pa-4" Elevation="0" Style="display:flex;justify-content:center;flex-direction:column">
                    <div style="display:flex;justify-content:center;">
                        Seleccione un color:
                    </div>
                    <div style="display:flex;justify-content:center;padding:20px">
                    <div style="width:100%;display: grid;grid-template-columns: repeat(auto-fill, 50px);gap: 10px;justify-content: center;margin-top: 20px;">
                        <div class="colorContainer" style="background-color:#463E8B; width:50px; height:50px; cursor:pointer"
                             @onclick="@(() => UpdateTheme("purple"))">
                        </div>
                        <div class="colorContainer" style="background-color:#1E88E5; width:50px; height:50px; cursor:pointer"
                             @onclick="@(() => UpdateTheme("blue"))">
                        </div>
                        <div class="colorContainer" style="background-color:#00C853; width:50px; height:50px; cursor:pointer"
                             @onclick="@(() => UpdateTheme("green"))">
                        </div>
                        <div class="colorContainer" style="background-color:#FF7043; width:50px; height:50px; cursor:pointer"
                             @onclick="@(() => UpdateTheme("orange"))">
                        </div>
                        <div class="colorContainer" style="background-color:#E53935; width:50px; height:50px; cursor:pointer"
                             @onclick="@(() => UpdateTheme("red"))">
                        </div>
                        <div class="colorContainer" style="background-color:#FBC02D; width:50px; height:50px; cursor:pointer"
                             @onclick="@(() => UpdateTheme("yellow"))">
                        </div>
                    </div>
                    </div>
                
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>

<style>
    .colorContainer{
        width:50px;
        height:50px;
        border-radius:100px;
        transition: 0.3s ease-in-out;
    }

    .colorContainer:hover{
        transform:scale(1.1);
        cursor:pointer;
    }
</style>