<div class="movie-grid-item">
    <MudPaper Class="movie-card" Elevation="3">
        <!-- your existing card -->
        <div class="movie-backdrop">
            <img style="width:250px;height:375px;object-fit:cover;object-position:center;"
                 src="@movie.GetPosterUrl("w500")" loading="lazy" />
            <div class="movie-overlay">
                <MudText Typo="Typo.h6" Class="movie-title">@movie.Title</MudText>
                <div class="movie-score">
                    <MudProgressCircular Size="Size.Medium"
                                         Value="@(movie.VoteAverage * 10)"
                                         Color="@GetScoreColor(movie.VoteAverage)"
                                         StrokeWidth="6" />
                    <span class="movie-score-text">@((int)(movie.VoteAverage * 10))</span>
                </div>
            </div>
        </div>
        <div class="movie-actions">

            <!-- Visto -->
            @if (SeenMovies.Any(x => x.Title == movie.Title))
            {
                <MudTooltip Text="Desmarcar como visto">
                    <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                   Color="Color.Success"
                                   OnClick="@(() => UnMarkAsSeen(movie))" />
                </MudTooltip>
            }
            else
            {
                 <MudTooltip Text="Marcar como visto">
                    <MudIconButton Icon="@Icons.Material.Outlined.Visibility"
                                   Color="Color.Success"
                                   OnClick="@(() => MarkAsSeen(movie))" />
                </MudTooltip>
            }


            <!-- Añadir a favoritos -->
            <MudTooltip Text="Añadir a Favoritos">
                <MudIconButton Icon="@(true? Icons.Material.Filled.Favorite : Icons.Material.Outlined.PlaylistAdd)"
                               Color="Color.Secondary"
                              />
            </MudTooltip>

            <!-- Watchlist -->
            <MudTooltip Text="Guardar en whatchlist">
                <MudIconButton Icon="@(true? Icons.Material.Filled.Bookmark : Icons.Material.Outlined.BookmarkBorder)"
                               Color="Color.Primary"
                                />
            </MudTooltip>

        </div>
    </MudPaper>
</div>